*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(68, 42, 75);
    display: flex;
    align-items: center;
    flex-direction: column;

}

.task2{
    font-size: 30px;
    background-color: rgb(69, 241, 241);
    text-align: center;
    border-radius: 8px;
}

.box{
    width: 40%;
    height: 25%;
    background-color: rgb(92, 99, 129);
    margin: 11px;
    display: flex;
    padding: 1px;
   box-shadow: 10px 12px 9px 9px rgba(0, 0, 0, 0.958);
   transform: matrix(9);
   transition: 0.4s;
   &:hover{
       scale: 0.9;
   }

   
}

.image{
    background-color: blue;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.text{
    background-color: rgb(137, 228, 135);
    width: 50%;
    padding: 20px;
}

img{
    width: 100%;
    height: 100%;
}

h5{
    font-size: 1px;
}

p{
    font-size: 10px;
}

.icons{
    display: flex;
    padding-top: 30px;
    justify-content: space-around; 
   
}

.icon1{
    margin-right: 180px;
    width: 200px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between
}

h1{
    font-size: 20px;
}

